@import url("https://fonts.googleapis.com/css?family=Baskervville|Girassol&display=swap");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
	font-family: 'Baskervville', serif;
	font-size: 18px;
	color: black;
	margin: 0px;
	color: black;
	background-color: black; 	
}
h1{
	color: black;
	position: center;
	font-weight: bold;
}
h2{
	color: white;
	font-weight: bold;
}
h3 {
	font-family: 'Girassol', sans-serif;
	font-weight: bold;
	color: white;
}

p{
	color: grey;
}

